        <!-- start section -->
        <section class="p-0 mt-10">
            <div class="container">
                <div class="row align-items-center mb-4">
                    <div class="col-lg-7 col-md-5">
                        <div class="outside-box-left-20 lg-outside-box-left-50 d-none d-md-inline-block">
                            <div class="fs-350 xl-fs-300 lg-fs-250 md-fs-180 text-cf-coal fw-600 ls-minus-20px word-break-normal" data-bottom-top="transform:scale(1, 1) translate3d(0px, 0px, 0px);" data-top-bottom="transform:scale(1, 1) translate3d(100px, 0px, 0px);">{big_text}</div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1 col-md-7 position-relative last-paragraph-no-margin text-light-gray">
                        <span class="fs-20 fw-600 mb-5px d-block text-cf-sky">{section_title}</span>
                        <p>{description}</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->