<html>
    <head>
    {exp:channel:entries channel="default_page|work" require_entry="yes"}
        {if no_results}{redirect="404"}{/if}
        <title>{title}</title>
    {/exp:channel:entries}
    </head>
    <body>
        {exp:channel:entries channel="default_page|work" require_entry="yes"}
        <h1>{title}</h1>
        <p>by {author} on <a href="{path=work/archive/{entry_date format='%Y'}}">{entry_date format="%F %d, %Y"}</a></p>
        {categories}
            <a href="{site_url}/work/category/{category_url_title}">{category_name}</a>
        {/categories}
            <div>
                {!-- Field: headline --}
                {!-- Fieldtype: text --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                <div>
                    {headline}
                </div>
                {!-- End field: headline --}
            </div>

            <div>
                {!-- Field: Markdown --}
                {!-- Fieldtype: textarea --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/textarea.html --}
                <div>
                    {markdown}
                </div>
                {!-- End field: Markdown --}
            </div>

            <div>
                {!-- Field: RIch Text --}
                {!-- Fieldtype: rte --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/rte.html --}
                {if rich_text:has_excerpt == 'y'}
                    <details>
                        <summary>{rich_text:excerpt}</summary>
                        {rich_text:extended}
                    </details>
                {if:else}
                    {rich_text}
                {/if}                
                {!-- End field: RIch Text --}
            </div>

            <div>
                {!-- Field: Image --}
                {!-- Fieldtype: file --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/file.html --}
                {image}
                    {if mime_type ^= 'image/'}
                        <picture>
                            <img src="{url}" width="{width}" height="{height}" alt="{title}">
                        </picture>
                    {if:else}
                        <b><a href="{url}" target="_blank">View {title}</a></b>
                    {/if}
                    <br>Credit: {credit}
                    <br>Location: {location}
                    <br>File Name: {file_name}
                    <br>File Size: {file_size}
                    <br>Description: {description}
                    <br>Upload Directory: {directory_title} (<a href="{path}">#{directory_id}</a>)
                    <br>Upload Date: {upload_date format="%Y %m %d"}
                    <br>Modified Date: {modified_date format="%Y %m %d"}
                {/image}                
                {!-- End field: Image --}
            </div>

            <div>
                {!-- Field: Button --}
                {!-- Fieldtype: grid --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/grid.html --}
                {button}
                    {!-- Grid column: Button Label --}
                    {!-- Column type: text --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                    <div>
                        {button:button_label}
                    </div>
                    {!-- End Grid column: Button Label --}
                    {!-- Grid column: Button Link --}
                    {!-- Column type: text --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                    <div>
                        {button:button_link}
                    </div>
                    {!-- End Grid column: Button Link --}
                    {!-- Grid column: Button Style --}
                    {!-- Column type: select --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/select.html --}
                    <span class="label">{button:button_style:label}</span>: <span class="value">{button:button_style}</span> / <span class="value">{button:button_style:value}</span>
                    {!-- End Grid column: Button Style --}
                {/button}
                {!-- End field: Button --}
            </div>

            <div>
                {!-- Field: Description --}
                {!-- Fieldtype: textarea --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/textarea.html --}
                <div>
                    {description}
                </div>
                {!-- End field: Description --}
            </div>

            <div>
                {!-- Field: Subhead --}
                {!-- Fieldtype: text --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                <div>
                    {subhead}
                </div>
                {!-- End field: Subhead --}
            </div>

            <div>
                {!-- Field: Text --}
                {!-- Fieldtype: text --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                <div>
                    {text}
                </div>
                {!-- End field: Text --}
            </div>

            <div>
                {!-- Field: Image Overlay --}
                {!-- Fieldtype: toggle --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/toggle.html --}
                {if image_overlay}<span class="on">Yes</span>{if:else}<span class="off">No</span>{/if}                
                {!-- End field: Image Overlay --}
            </div>

            <div>
                {!-- Field: Static Template --}
                {!-- Fieldtype: select --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/select.html --}
                <span class="label">{static_template:label}</span>: <span class="value">{static_template}</span> / <span class="value">{static_template:value}</span>                
                {!-- End field: Static Template --}
            </div>

            <div>
                {!-- Field: Hero Type --}
                {!-- Fieldtype: select --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/select.html --}
                <span class="label">{hero_type:label}</span>: <span class="value">{hero_type}</span> / <span class="value">{hero_type:value}</span>                
                {!-- End field: Hero Type --}
            </div>

            <div>
                {!-- Field: Hero --}
                {!-- Fieldtype: bloqs --}
                {!-- Docs: https://boldminded.com/add-ons/bloqs --}
                <div>
                    {hero}
                        {!-- This field is built to be used as tag pair --}
                        {!-- But we could not determine the possible variables to use inside tag pair --}
                        {!-- Please refer to the documentation link above --}
                    {/hero}
                </div>
                {!-- End field: Hero --}
            </div>

            <div>
                {!-- Field: Blog Builder --}
                {!-- Fieldtype: bloqs --}
                {!-- Docs: https://boldminded.com/add-ons/bloqs --}
                <div>
                    {blog_builder}
                        {!-- This field is built to be used as tag pair --}
                        {!-- But we could not determine the possible variables to use inside tag pair --}
                        {!-- Please refer to the documentation link above --}
                    {/blog_builder}
                </div>
                {!-- End field: Blog Builder --}
            </div>

            <div>
                {!-- Field: Name --}
                {!-- Fieldtype: text --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                <div>
                    {name}
                </div>
                {!-- End field: Name --}
            </div>

            <div>
                {!-- Field: Role --}
                {!-- Fieldtype: text --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                <div>
                    {role}
                </div>
                {!-- End field: Role --}
            </div>

            <div>
                {!-- Field: Fluid Builder --}
                {!-- Fieldtype: fluid_field --}
                {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/fluid.html --}
                {fluid_builder}
                    {!-- Fluid Field: Button --}
                    {!-- Fieldtype: grid --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/grid.html --}
                    {fluid_builder:button}
                        {content}
                            {!-- Grid column: Button Label --}
                            {!-- Column type: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            <div>
                                {content:button_label}
                            </div>
                            {!-- End Grid column: Button Label --}
                            {!-- Grid column: Button Link --}
                            {!-- Column type: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            <div>
                                {content:button_link}
                            </div>
                            {!-- End Grid column: Button Link --}
                            {!-- Grid column: Button Style --}
                            {!-- Column type: select --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/select.html --}
                            <span class="label">{content:button_style:label}</span>: <span class="value">{content:button_style}</span> / <span class="value">{content:button_style:value}</span>
                            {!-- End Grid column: Button Style --}
                        {/content}
                    {/fluid_builder:button}
                    {!-- End Fluid Field: Button --}
                    {!-- Fluid Field: Description --}
                    {!-- Fieldtype: textarea --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/textarea.html --}
                    {fluid_builder:description}
                        <div>
                            {content}
                        </div>
                    {/fluid_builder:description}
                    {!-- End Fluid Field: Description --}
                    {!-- Fluid Field: headline --}
                    {!-- Fieldtype: text --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                    {fluid_builder:headline}
                        <div>
                            {content}
                        </div>
                    {/fluid_builder:headline}
                    {!-- End Fluid Field: headline --}
                    {!-- Fluid Field: Hero Type --}
                    {!-- Fieldtype: select --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/select.html --}
                    {fluid_builder:hero_type}
                        <span class="label">{content:label}</span>: <span class="value">{content}</span> / <span class="value">{content:value}</span>
                    {/fluid_builder:hero_type}
                    {!-- End Fluid Field: Hero Type --}
                    {!-- Fluid Field: Image --}
                    {!-- Fieldtype: file --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/file.html --}
                    {fluid_builder:image}
                        {content}
                            {if mime_type ^= 'image/'}
                                <picture>
                                    <img src="{url}" width="{width}" height="{height}" alt="{title}">
                                </picture>
                            {if:else}
                                <b><a href="{url}" target="_blank">View {title}</a></b>
                            {/if}
                            <br>Credit: {credit}
                            <br>Location: {location}
                            <br>File Name: {file_name}
                            <br>File Size: {file_size}
                            <br>Description: {description}
                            <br>Upload Directory: {directory_title} (<a href="{path}">#{directory_id}</a>)
                            <br>Upload Date: {upload_date format="%Y %m %d"}
                            <br>Modified Date: {modified_date format="%Y %m %d"}
                        {/content}
                    {/fluid_builder:image}
                    {!-- End Fluid Field: Image --}
                    {!-- Fluid Field: Image Overlay --}
                    {!-- Fieldtype: toggle --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/toggle.html --}
                    {fluid_builder:image_overlay}
                        {if content}<span class="on">Yes</span>{if:else}<span class="off">No</span>{/if}
                    {/fluid_builder:image_overlay}
                    {!-- End Fluid Field: Image Overlay --}
                    {!-- Fluid Field: Markdown --}
                    {!-- Fieldtype: textarea --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/textarea.html --}
                    {fluid_builder:markdown}
                        <div>
                            {content}
                        </div>
                    {/fluid_builder:markdown}
                    {!-- End Fluid Field: Markdown --}
                    {!-- Fluid Field: Name --}
                    {!-- Fieldtype: text --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                    {fluid_builder:name}
                        <div>
                            {content}
                        </div>
                    {/fluid_builder:name}
                    {!-- End Fluid Field: Name --}
                    {!-- Fluid Field: RIch Text --}
                    {!-- Fieldtype: rte --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/rte.html --}
                    {fluid_builder:rich_text}
                        {if content:has_excerpt == 'y'}
                            <details>
                                <summary>{content:excerpt}</summary>
                                {content:extended}
                            </details>
                        {if:else}
                            {content}
                        {/if}
                    {/fluid_builder:rich_text}
                    {!-- End Fluid Field: RIch Text --}
                    {!-- Fluid Field: Role --}
                    {!-- Fieldtype: text --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                    {fluid_builder:role}
                        <div>
                            {content}
                        </div>
                    {/fluid_builder:role}
                    {!-- End Fluid Field: Role --}
                    {!-- Fluid Field: Static Template --}
                    {!-- Fieldtype: select --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/select.html --}
                    {fluid_builder:static_template}
                        <span class="label">{content:label}</span>: <span class="value">{content}</span> / <span class="value">{content:value}</span>
                    {/fluid_builder:static_template}
                    {!-- End Fluid Field: Static Template --}
                    {!-- Fluid Field: Subhead --}
                    {!-- Fieldtype: text --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                    {fluid_builder:subhead}
                        <div>
                            {content}
                        </div>
                    {/fluid_builder:subhead}
                    {!-- End Fluid Field: Subhead --}
                    {!-- Fluid Field: Text --}
                    {!-- Fieldtype: text --}
                    {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                    {fluid_builder:text}
                        <div>
                            {content}
                        </div>
                    {/fluid_builder:text}
                    {!-- End Fluid Field: Text --}
                    {!-- Fluid Field Group: background_text_scroller --}
                    {fluid_builder:background_text_scroller}
                        {fields}
                            {!-- Fluid Field: Text --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:text}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:text}
                            {!-- End Fluid Field: Text --}
                        {/fields}
                    {/fluid_builder:background_text_scroller}
                    {!-- End Fluid Field Group: background_text_scroller --}
                    {!-- Fluid Field Group: big_callout --}
                    {fluid_builder:big_callout}
                        {fields}
                        {/fields}
                    {/fluid_builder:big_callout}
                    {!-- End Fluid Field Group: big_callout --}
                    {!-- Fluid Field Group: blog_hero --}
                    {fluid_builder:blog_hero}
                        {fields}
                            {!-- Fluid Field: Image Overlay --}
                            {!-- Fieldtype: toggle --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/toggle.html --}
                            {fluid_builder:image_overlay}
                                {if content}<span class="on">Yes</span>{if:else}<span class="off">No</span>{/if}
                            {/fluid_builder:image_overlay}
                            {!-- End Fluid Field: Image Overlay --}
                            {!-- Fluid Field: Image --}
                            {!-- Fieldtype: file --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/file.html --}
                            {fluid_builder:image}
                                {content}
                                    {if mime_type ^= 'image/'}
                                        <picture>
                                            <img src="{url}" width="{width}" height="{height}" alt="{title}">
                                        </picture>
                                    {if:else}
                                        <b><a href="{url}" target="_blank">View {title}</a></b>
                                    {/if}
                                    <br>Credit: {credit}
                                    <br>Location: {location}
                                    <br>File Name: {file_name}
                                    <br>File Size: {file_size}
                                    <br>Description: {description}
                                    <br>Upload Directory: {directory_title} (<a href="{path}">#{directory_id}</a>)
                                    <br>Upload Date: {upload_date format="%Y %m %d"}
                                    <br>Modified Date: {modified_date format="%Y %m %d"}
                                {/content}
                            {/fluid_builder:image}
                            {!-- End Fluid Field: Image --}
                        {/fields}
                    {/fluid_builder:blog_hero}
                    {!-- End Fluid Field Group: blog_hero --}
                    {!-- Fluid Field Group: clients_group --}
                    {fluid_builder:clients_group}
                        {fields}
                        {/fields}
                    {/fluid_builder:clients_group}
                    {!-- End Fluid Field Group: clients_group --}
                    {!-- Fluid Field Group: home_hero --}
                    {fluid_builder:home_hero}
                        {fields}
                            {!-- Fluid Field: Image Overlay --}
                            {!-- Fieldtype: toggle --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/toggle.html --}
                            {fluid_builder:image_overlay}
                                {if content}<span class="on">Yes</span>{if:else}<span class="off">No</span>{/if}
                            {/fluid_builder:image_overlay}
                            {!-- End Fluid Field: Image Overlay --}
                            {!-- Fluid Field: Subhead --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:subhead}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:subhead}
                            {!-- End Fluid Field: Subhead --}
                            {!-- Fluid Field: Image --}
                            {!-- Fieldtype: file --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/file.html --}
                            {fluid_builder:image}
                                {content}
                                    {if mime_type ^= 'image/'}
                                        <picture>
                                            <img src="{url}" width="{width}" height="{height}" alt="{title}">
                                        </picture>
                                    {if:else}
                                        <b><a href="{url}" target="_blank">View {title}</a></b>
                                    {/if}
                                    <br>Credit: {credit}
                                    <br>Location: {location}
                                    <br>File Name: {file_name}
                                    <br>File Size: {file_size}
                                    <br>Description: {description}
                                    <br>Upload Directory: {directory_title} (<a href="{path}">#{directory_id}</a>)
                                    <br>Upload Date: {upload_date format="%Y %m %d"}
                                    <br>Modified Date: {modified_date format="%Y %m %d"}
                                {/content}
                            {/fluid_builder:image}
                            {!-- End Fluid Field: Image --}
                            {!-- Fluid Field: headline --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:headline}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:headline}
                            {!-- End Fluid Field: headline --}
                        {/fields}
                    {/fluid_builder:home_hero}
                    {!-- End Fluid Field Group: home_hero --}
                    {!-- Fluid Field Group: related_blogs --}
                    {fluid_builder:related_blogs}
                        {fields}
                        {/fields}
                    {/fluid_builder:related_blogs}
                    {!-- End Fluid Field Group: related_blogs --}
                    {!-- Fluid Field Group: seo_group --}
                    {fluid_builder:seo_group}
                        {fields}
                            {!-- Fluid Field: SEO - Twitter: Creator --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:seo_twitter_creator}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:seo_twitter_creator}
                            {!-- End Fluid Field: SEO - Twitter: Creator --}
                            {!-- Fluid Field: SEO - Twitter: URL --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:seo_twitter_url}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:seo_twitter_url}
                            {!-- End Fluid Field: SEO - Twitter: URL --}
                            {!-- Fluid Field: SEO - Twitter: Image --}
                            {!-- Fieldtype: file --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/file.html --}
                            {fluid_builder:seo_twitter_image}
                                {content}
                                    {if mime_type ^= 'image/'}
                                        <picture>
                                            <img src="{url}" width="{width}" height="{height}" alt="{title}">
                                        </picture>
                                    {if:else}
                                        <b><a href="{url}" target="_blank">View {title}</a></b>
                                    {/if}
                                    <br>Credit: {credit}
                                    <br>Location: {location}
                                    <br>File Name: {file_name}
                                    <br>File Size: {file_size}
                                    <br>Description: {description}
                                    <br>Upload Directory: {directory_title} (<a href="{path}">#{directory_id}</a>)
                                    <br>Upload Date: {upload_date format="%Y %m %d"}
                                    <br>Modified Date: {modified_date format="%Y %m %d"}
                                {/content}
                            {/fluid_builder:seo_twitter_image}
                            {!-- End Fluid Field: SEO - Twitter: Image --}
                            {!-- Fluid Field: SEO - Twitter: Description --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:seo_twitter_description}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:seo_twitter_description}
                            {!-- End Fluid Field: SEO - Twitter: Description --}
                            {!-- Fluid Field: SEO - Twitter: Title --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:seo_twitter_title}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:seo_twitter_title}
                            {!-- End Fluid Field: SEO - Twitter: Title --}
                            {!-- Fluid Field: SEO - OG: Image --}
                            {!-- Fieldtype: file --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/file.html --}
                            {fluid_builder:seo_og_image}
                                {content}
                                    {if mime_type ^= 'image/'}
                                        <picture>
                                            <img src="{url}" width="{width}" height="{height}" alt="{title}">
                                        </picture>
                                    {if:else}
                                        <b><a href="{url}" target="_blank">View {title}</a></b>
                                    {/if}
                                    <br>Credit: {credit}
                                    <br>Location: {location}
                                    <br>File Name: {file_name}
                                    <br>File Size: {file_size}
                                    <br>Description: {description}
                                    <br>Upload Directory: {directory_title} (<a href="{path}">#{directory_id}</a>)
                                    <br>Upload Date: {upload_date format="%Y %m %d"}
                                    <br>Modified Date: {modified_date format="%Y %m %d"}
                                {/content}
                            {/fluid_builder:seo_og_image}
                            {!-- End Fluid Field: SEO - OG: Image --}
                            {!-- Fluid Field: SEO - OG: Description --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:seo_og_description}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:seo_og_description}
                            {!-- End Fluid Field: SEO - OG: Description --}
                            {!-- Fluid Field: SEO - OG: URL --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:seo_og_url}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:seo_og_url}
                            {!-- End Fluid Field: SEO - OG: URL --}
                            {!-- Fluid Field: SEO - OG: Title --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:seo_og_title}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:seo_og_title}
                            {!-- End Fluid Field: SEO - OG: Title --}
                            {!-- Fluid Field: SEO - Meta Description --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:seo_meta_description}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:seo_meta_description}
                            {!-- End Fluid Field: SEO - Meta Description --}
                            {!-- Fluid Field: SEO - Meta Author --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:seo_meta_author}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:seo_meta_author}
                            {!-- End Fluid Field: SEO - Meta Author --}
                            {!-- Fluid Field: SEO - Meta Title --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:seo_meta_title}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:seo_meta_title}
                            {!-- End Fluid Field: SEO - Meta Title --}
                        {/fields}
                    {/fluid_builder:seo_group}
                    {!-- End Fluid Field Group: seo_group --}
                    {!-- Fluid Field Group: small_callout --}
                    {fluid_builder:small_callout}
                        {fields}
                        {/fields}
                    {/fluid_builder:small_callout}
                    {!-- End Fluid Field Group: small_callout --}
                    {!-- Fluid Field Group: standard_hero --}
                    {fluid_builder:standard_hero}
                        {fields}
                            {!-- Fluid Field: Image Overlay --}
                            {!-- Fieldtype: toggle --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/toggle.html --}
                            {fluid_builder:image_overlay}
                                {if content}<span class="on">Yes</span>{if:else}<span class="off">No</span>{/if}
                            {/fluid_builder:image_overlay}
                            {!-- End Fluid Field: Image Overlay --}
                            {!-- Fluid Field: Image --}
                            {!-- Fieldtype: file --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/file.html --}
                            {fluid_builder:image}
                                {content}
                                    {if mime_type ^= 'image/'}
                                        <picture>
                                            <img src="{url}" width="{width}" height="{height}" alt="{title}">
                                        </picture>
                                    {if:else}
                                        <b><a href="{url}" target="_blank">View {title}</a></b>
                                    {/if}
                                    <br>Credit: {credit}
                                    <br>Location: {location}
                                    <br>File Name: {file_name}
                                    <br>File Size: {file_size}
                                    <br>Description: {description}
                                    <br>Upload Directory: {directory_title} (<a href="{path}">#{directory_id}</a>)
                                    <br>Upload Date: {upload_date format="%Y %m %d"}
                                    <br>Modified Date: {modified_date format="%Y %m %d"}
                                {/content}
                            {/fluid_builder:image}
                            {!-- End Fluid Field: Image --}
                            {!-- Fluid Field: headline --}
                            {!-- Fieldtype: text --}
                            {!-- Docs: https://docs.expressionengine.com/latest/fieldtypes/text.html --}
                            {fluid_builder:headline}
                                <div>
                                    {content}
                                </div>
                            {/fluid_builder:headline}
                            {!-- End Fluid Field: headline --}
                        {/fields}
                    {/fluid_builder:standard_hero}
                    {!-- End Fluid Field Group: standard_hero --}
                    {!-- Fluid Field Group: static_pages --}
                    {fluid_builder:static_pages}
                        {fields}
                        {/fields}
                    {/fluid_builder:static_pages}
                    {!-- End Fluid Field Group: static_pages --}
                    {!-- Fluid Field Group: testimonials --}
                    {fluid_builder:testimonials}
                        {fields}
                        {/fields}
                    {/fluid_builder:testimonials}
                    {!-- End Fluid Field Group: testimonials --}
                {/fluid_builder}
                {!-- End field: Fluid Builder --}
            </div>

        {/exp:channel:entries}

        <hr>
        {embed="work/_comment_form"}

        <hr>
        {exp:channel:next_entry channel="default_page|work"}
            <p>Next entry: <a href="{path='work/entry'}">{title}</a></p>
        {/exp:channel:next_entry}

        {exp:channel:prev_entry channel="default_page|work"}
            <p>Previous entry: <a href="{path='work/entry}">{title}</a></p>
        {/exp:channel:prev_entry}
    </body>
</html>
