{layout="layouts/_wrapper"}

{par-nav}

		{exp:channel:entries channel="work"}
        <!-- start page title -->
        <section class="p-0 top-space-margin sm-pb-30px">
            <div class="container">
                <div class="row align-items-center justify-content-center small-screen sm-h-auto">
                    <div class="col-xl-11 text-center">
                        <span class="fw-500 mb-15px fs-19 d-block text-white text-uppercase">{clients:title}</span>
                        <h1 class="fw-600 text-cf-sky mb-0 ls-minus-2px">{title}</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title -->

		{!-- start page builder --}
       	{if page_builder}{page_builder}
	        {project_overview}{par_project_overview}{/project_overview}
            {inline_image}{par_inline_image}{/inline_image}
            {big_text_intro}{par_big_text_intro}{/big_text_intro}            
            {image_slider}{par_image_slider}{/image_slider}
            {full_width_image}{par_full_width_image}{/full_width_image}
        {/page_builder}{/if}           
        {!-- end page builder --}
        
        {!-- start blog builder --}
        {if template_type == "Blog Builder"}{blog-builder}
	        {project_info}{par_content}{/project_info}
        {/blog-builder}{/if}        
        {!-- end blog builder --}
        {!-- start static page --}
        {if template_type == "Static Page"}{par_static_pages}{/if}        	           
        {!-- end static page --}
        
		{/exp:channel:entries}